<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyQuizApplication"
        tools:targetApi="31">
        <activity
            android:name=".Reviewer"
            android:exported="false"
            android:parentActivityName=".QuizReviewer"/>
        <activity
            android:name=".AddReviewer"
            android:exported="false"
            android:parentActivityName=".Teachers" />
        <activity
            android:name=".QuizReviewer"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".SetsActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuiz"
            android:exported="false" />
        <activity
            android:name=".ViewStudent"
            android:exported="false"
            android:parentActivityName=".Students" />
        <activity
            android:name=".ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".SetsActivity2"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity2"
            android:exported="false" />
        <activity
            android:name=".StudentLogin"
            android:exported="false" />
        <activity
            android:name=".Students2"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".Teachers"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Students"
            android:exported="false"
            android:parentActivityName=".Teachers" />
        <activity
            android:name=".PlayQuiz"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>